
body {
    overflow: hidden;
}

.topic {
    position: absolute;
    background-color: rgb(206, 83, 83);
    border-radius: 50%;
    height: 200px;
    width: 200px;

    display: flex;
    justify-content: center;
    align-items: center;
}


.top {
    transition: fill .4s;
    fill: rgb(15, 79, 138);
}

.top:hover {
    fill: rgb(47, 165, 120);
    cursor: move;
}

